.powermenu {
  @include popover;

  .action {
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    margin: 0 4px;
    transition: background 200ms;

    .display label {
      margin-top: 15px;
    }

    .display image {
      min-width: 1.5em;
      min-height: 1.5em;
      font-size: 3.5em;
    }

    &:hover {
      background: rgba($foreground, 0.05);
    }

    &:active {
      background: rgba($foreground, 0.1);
    }

    &:focus {
      background: rgba($foreground, 0.05);
    }
  }
}
