$mainMod = SUPER

# --
# Control binds
# --

bind = $mainMod, V, togglefloating, # Toggle floating of the active window
bind = $mainMod, F, fullscreen, # Toggle fullscreen of the active window
bind = $mainMod, A, togglesplit, # Toggle split direction of the active window

bind = $mainMod, Q, killactive, # Close active window
bind = $mainMod SHIFT, M, exit, # Force quit Hyprland

bindm = $mainMod, mouse:272, movewindow # Move active window (left click)
bindm = $mainMod, mouse:273, resizewindow # Resize active window (right click)

bind = $mainMod, left, movefocus, l # Move focus left
bind = $mainMod, right, movefocus, r # Move focus right
bind = $mainMod, up, movefocus, u # Move focus up
bind = $mainMod, down, movefocus, d # Move focus down

bind = $mainMod SHIFT, left, movewindow, l # Move window to left
bind = $mainMod SHIFT, right, movewindow, r # Move active window to right
bind = $mainMod SHIFT, up, movewindow, u # Move active window up
bind = $mainMod SHIFT, down, movewindow, d # Move active window down

bind = $mainMod, Tab, overview:toggle, # Show workspaces overview

bind = $mainMod, ampersand, split:workspace, 1
bind = $mainMod, eacute, split:workspace, 2
bind = $mainMod, quotedbl, split:workspace, 3
bind = $mainMod, apostrophe, split:workspace, 4
bind = $mainMod, parenleft, split:workspace, 5
bind = $mainMod, minus, split:workspace, 6
bind = $mainMod, egrave, split:workspace, 7
bind = $mainMod, underscore, split:workspace, 8
bind = $mainMod, ccedilla, split:workspace, 9

bind = $mainMod SHIFT, ampersand, split:movetoworkspacesilent, 1
bind = $mainMod SHIFT, eacute, split:movetoworkspacesilent, 2
bind = $mainMod SHIFT, quotedbl, split:movetoworkspacesilent, 3
bind = $mainMod SHIFT, apostrophe, split:movetoworkspacesilent, 4
bind = $mainMod SHIFT, parenleft, split:movetoworkspacesilent, 5
bind = $mainMod SHIFT, minus, split:movetoworkspacesilent, 6
bind = $mainMod SHIFT, egrave, split:movetoworkspacesilent, 7
bind = $mainMod SHIFT, underscore, split:movetoworkspacesilent, 8
bind = $mainMod SHIFT, ccedilla, split:movetoworkspacesilent, 9

bind = $mainMod, mouse_down, split:workspace, r+1
bind = $mainMod, mouse_up, split:workspace, r-1

bind = $mainMod, S, split:swapactiveworkspaces, current +1

# --
# App binds
# --

bind = $mainMod, T, exec, kitty # Terminal
bind = $mainMod, B, exec, zen-browser # Browser
bind = $mainMod, E, exec, nautilus -w # File explorer
bind = $mainMod, L, exec, hyprlock # Lock
bind = $mainMod, M, exec, ags -t ags_powermenu # Powermenu
bind = $mainMod, SPACE, exec, walker # App launcher
bind = $mainMod SHIFT, S, exec, grimblast copysave area # Screenshot tool

# --
# Media binds
# --

bindl = , XF86AudioMute, exec, wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle
bindel = , XF86AudioLowerVolume, exec, wpctl set-volume @DEFAULT_AUDIO_SINK@ 2%-
bindel = , XF86AudioRaiseVolume, exec, wpctl set-volume @DEFAULT_AUDIO_SINK@ 2%+
bindl = , XF86AudioMicMute, exec, wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle

bindl = , XF86AudioPlay, exec, playerctl play-pause
bindl = , XF86AudioPause, exec, playerctl play-pause
bindl = , XF86AudioNext, exec, playerctl next
bindl = , XF86AudioPrev, exec, playerctl previous
bindl = , XF86AudioStop, exec, playerctl stop

# --
# Laptop binds
# --

{{ if eq .chezmoi.hostname "lap-arch-thibaud" }}

bindel = , XF86MonBrightnessUp, exec, brillo -u 100 -A 2
bindel = , XF86MonBrightnessDown, exec, brillo -u 100 -U 2

{{ end }}
